body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#productOverviewContainer {
  display: grid;
  height: 760px;
  grid-template-areas:   "images info"
                         "images style"
                         "images cart"
                         "whiteSpace whiteSpace"
                         "description description";

  grid-template-rows: .5fr 1fr .3fr .2fr .5fr .2fr;
  grid-template-columns: 2fr 1fr;
}

#productOverviewContainer .images {
  grid-area: images;
  background-color: purple;
}
#productOverviewContainer .info {
  grid-area: info;
  background-color: blue;
}
#productOverviewContainer .style {
  grid-area: style;
}
#productOverviewContainer .cart {
  grid-area: cart;
  background-color: red;
}

#productOverviewContainer .description {
  grid-area: description;
  background-color: yellow;
}

#productOverviewContainer .whiteSpace {
  grid-area: whiteSpace;
  background-color: white;
}

#styleContainer {
  display: grid;
  height: 100%;
  grid-template-areas:  "price price price price price"
                        "styleH styleH styleH styleH styleH"
                        "TN0 TN1 TN2 TN3 WS"
                        "TN4 TN5 TN6 TN7 WS";
  grid-template-rows: 1fr 1fr 3fr 3fr;
  grid-template-columns: 2.25fr 2.25fr 2.25fr 2.25fr 3fr;
}
#styleContainer .price {
  grid-area: price;
  background-color: white;
}

#styleContainer .styleH {
  grid-area: styleH;
  background-color: white;
}
#styleContainer .WS{
  grid-area: WS;
  background-color: white;
}

.TN {
  background-color: #FF0000;
  height: 50px;
  width: 50px;
  border-radius: 50%;


}

#styleContainer .TN0 {
  grid-area: TN0;
  padding: 10%;
  display: grid;
  justify-content: center;
  align-content: center;
}
#styleContainer .TN1 {
  grid-area: TN1;
  padding: 10%;
  display: grid;
  justify-content: center;
  align-content: center;
}
#styleContainer .TN2 {
  grid-area: TN2;
  padding: 10%;
  display: grid;
  justify-content: center;
  align-content: center;
}
#styleContainer .TN3 {
  grid-area: TN3;
  padding: 10%;
  display: grid;
  justify-content: center;
  align-content: center;
}
#styleContainer .TN4 {
  grid-area: TN4;
  padding: 10%;
  display: grid;
  justify-content: center;
  align-content: center;
}
#styleContainer .TN5 {
  grid-area: TN5;
  padding: 10%;
  display: grid;
  justify-content: center;
  align-content: center;
}
#styleContainer .TN6 {
  grid-area: TN6;
  padding: 10%;
  display: grid;
  justify-content: center;
  align-content: center;
}
#styleContainer .TN7 {
  grid-area: TN7;
  padding: 10%;
  display: grid;
  justify-content: center;
  align-content: center;
}



#qaContainerOne {
  display: grid;
  margin-left: 50px;
  margin-right: 50px;
  grid-template-areas:   "searchBar searchBar"
                         "questionAnswer extraLinks";

  grid-template-rows: 5fr 40fr;
  grid-template-columns: 1fr;
  border: solid;
}

#qaContainerOne .searchBar {
  grid-area: searchBar;
  background-color: purple;
}

#qaContainerOne .questionAnswer {
  grid-area: questionAnswer;
  background-color: orange;
}

#qaContainerOne .extraLinks {
  grid-area: extraLinks;
  background-color: green;
}

#qaContainerTwo {
  display: grid;
  margin-left: 50px;
  margin-right: 50px;
  height: 80px;
  grid-template-areas:   "moreAnsweredQuestions addQuestions";

  grid-template-rows: 4fr 3fr;
  grid-template-columns: 2fr 2fr;
}

#qaContainerTwo .moreAnsweredQuestions {
  grid-area: moreAnsweredQuestions;
  background-color: red;
}

#qaContainerTwo .addQuestions {
  grid-area: addQuestions;
  background-color: yellow;
}

#qContainer {
  display: grid;
  height: 25px;
  grid-template-areas:   "questions helpfulLink divider addAnswerLink";
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}

#qContainer .questions {
  grid-area: questions;
  border: solid 2px;
  font-size: small;
  margin-left: 50px;
  margin-right: 50px;
  padding-left: 5px;
}

#qContainer .helpfulLink {
  grid-area: helpfulLink;
  font-size: xx-small;
  font-style: italic;
  font-weight: normal;
  justify-content: right;
  margin-top: 20px;
}

#qContainer .divider {
  grid-area: divider;
  font-size: xx-small;
  font-style: italic;
  font-weight: normal;
  justify-content: right;
  margin-top: 20px;
}

#qContainer .addAnswerLink {
  grid-area: addAnswerLink;
  cursor: pointer;
  font-size: xx-small;
  font-style: italic;
  font-weight: normal;
  justify-content: right;
  margin-top: 20px;
  padding-right: 10px;
  text-decoration: underline;
}

#aContainer {
  display: grid;
  height: 25px;
  grid-template-areas:   "userInfo date dividerOne answerHelpful dividerTwo report";
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}

#aContainer .userInfo {
  font-size: xx-small;
  font-style: italic;
  padding-left: 26px;
}

#aContainer .date {
  font-size: xx-small;
  font-style: italic;
}

#aContainer .dividerOne {
  font-size: xx-small;
  font-style: italic;
}

#aContainer .answerHelpful {
  font-size: xx-small;
  font-style: italic;
}

#aContainer .dividerTwo {
  font-size: xx-small;
  font-style: italic;
}

#aContainer .report {
  font-size: xx-small;
  font-style: italic;
}


.answers {
  font-size: small;
  padding-top: 15px;
  padding-left: 2px;
}

.inputBar {
  font-weight: bold;
  height: 50px;
  margin-left: 50px;
  margin-right: 50px;
  width: auto;
}

.yes {
  cursor: pointer;
  text-decoration: underline;
}

.reportText {
  cursor: pointer;
  text-decoration: underline;
}

.moreAnsweredQuestionsButton {
  background-color: rgb(123, 199, 224);
  color: white;
  font-weight: bolder;
  height: 50px;
  width: 350px;
}

.addQuestionButton {
  background-color: rgb(123, 199, 224);
  color: white;
  font-weight: bolder;
  height: 50px;
  width: 350px;
}



#ratingsReviewsContainer {
  display: grid;
  width: 100%;
  height: 500px;
  grid-template-areas:   "title title"
                         "ratings reviews"
                         "ratings buttons";
  grid-template-rows: 20px 350px 100px;
  grid-template-columns: 250px 1fr;
}
#ratingsReviewsContainer .title {
  grid-area: title;
  background-color: purple;
}
.ratings {
  grid-area: ratings;
  background-color: blue;
}
.reviews {
  grid-area: reviews;
  background-color: green;
  display: grid;
  grid-template-areas: "review-summ"
                       "review-body";
  grid-template-rows: 175px 175px;
  border: 1px solid black;
}
#ratingsReviewsContainer .buttons {
  grid-area: buttons;
  background-color: red;
}

.review-summ {
  font-size: 13px;
  font-weight: bold;
  height: 30px;
}

.review-body {
  font-size:11px;
  height: 30px;
}

.ratingVal {
  font-size: 60px;
  font-weight: bold;

}

#productDetailContainer .overview {
  grid-area: overview;
  background-color: yellow;
}

#productDetailContainer .whiteSpace {
  grid-area: whiteSpace;
  background-color: white;
}

